body{
    font-family: sans-serif;
}

header{
    width: 550px;
    height: 40px;
    background-color: #de8704;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid white;
   
}

div>p{
    color: #ffef5e;
    font-size: 17px;
    padding-left: 15px;
    padding-top: 10px;
    
}

article{
    width: 550px;
    height: 550px;
    background-color: #222536;
    margin: auto;
    display: flex;
}

.label{
    width: 180px;
    text-align: right;
}

.between{
    width: 10px;
}

.form{
    width: 360px;
    text-align: left;
}


