*{font-family: sans-serif;

}
.container{
    width: 500px;
    margin: auto;
}

body{
    color: yellow;
}

.header{
    background-color:#de8704;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px 5px 0 0;
}
.labels, .inputs{
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}
.formContent{
    background-color: #222536;
    line-height: 40px;
}
.labels{
    width: 30%;
    text-align: right;
    padding-right: 0;

}
.inputs{
    width: 69%;
    position: relative;
    top: 13px;  
}
.formFooter{
    padding: 10px;
    background-color:#de8704;
    border-radius: 0 0 5px 5px;
    text-align: right;
}
[type="submit"]{
    width: 50px;
    background-color: #5eb660;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    color: white;
}
[type= "reset"]{
    width: 50px;
    background-color: #d9544b;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    color: white;
}
input{
    width: 100%;
    padding: 5px;
    padding-left: 8px;
    box-sizing: border-box;
    border-radius: 5px;

}
label{
    display: inline-block;
    width: 100%;
}

select{
    color: black;
    border-radius: 5px;
}

option{
    border-radius: 5px;
}

#bm{
    width: 100px;
}

#bd{
    width: 50px;
    margin: 0 23px;
}

#by{
    width: 100px;
}

.gender{
    display: inline-flex;
    font-size: small;
}
