
.theHWPart{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin: 100px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 800px;
}

body{
    line-height: 23px;
    font-family: sans-serif;
    color: rgb(117, 117, 117);
}

h3, h2{
    color: black;
}

