body{
    background-color: #aaaaaa;
}

.theBiggestDiv{
    border: 3px solid green;
    margin: 100px;
    padding-top: 50px;
    width: 1604px;
    margin: auto;
    background-color: #e5e5e5;
}

img{
    box-shadow: 0px -5px 20px rgb(110, 110, 110);
}

.withLinks, .withText{
    display: inline-table;
}

.div{
    margin-top: 15px;
    box-shadow: 0px -3px 10px rgb(110, 110, 110);
    height: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 150%;
}

.withLinks{
    margin: 15px;
    padding-left: 30px;
    padding-top: 10px;
    width: 150px;
    height: 200px;
    font-size: 30px;
}

.withText{
    width: 1250px;
    float: inline-end;
    
}
h1{
    margin-top: 0px;
}

.withLinks>a:link{
    text-decoration: none;
    color: rgb(31, 168, 31);
}

a:hover{
    color: green;
}

a{
    color: rgb(31, 168, 31);
}

.I{
    font-style: italic;
}

.B{
    font-weight: bold;
}

.U{
    text-transform: uppercase;
}


