    body{
        width: 90%;
    }
    
    .menue{
        width: 60px;
        height: 25px;
        padding-top: 10px;
        float: left;
        background-color: rgb(224, 224, 224);
        border-radius: 5px;
        position: relative;
        right: 10px;
    }

    .menue>i{
        transition: 1s;
        padding-left: 23px;
        transform: scale(1.1);
        position: relative;
        bottom: 2px;
    }

    .menue>i:hover{
        transition: 1s;
        color: red;
    }

    .socialMedia{
        float: right;
        padding-top: 10px;
        margin-bottom: 30px;
    }

    .socialMedia>a>i{
        transition: 1s;
        transform: scale(0.9);
        color: gray;
    }

    .socialMedia>a>i:hover{
        transition: 1s;
        color: red;
    }

    header, main, footer{
        margin-left: 15px;
        color: rgb(94, 94, 94);
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(230, 230, 230);
        width: 95%;
    }

    footer{
        border-bottom: rgb(255, 255, 255);
    }
    
    .tw{
        background-position: 0 -460px;
    }
    
    .tw:hover{
        background-position: 0 -60px;
    }
    
    .fb{
        background-position: -57px -460px;
    }
    
    .fb:hover{
        background-position: -57px -60px;
    }
    
    .gl{
        background-position: -227px -460px;
    }
    
    .gl:hover{
        background-position: -227px -60px;
    }
    
    .in{
        background-position: -113px -460px;
    }
    
    .in:hover{
        background-position: -113px -60px;
    }
    
    .yt{
        background-position: -396px -460px;
    }
    
    .yt:hover{
        background-position: -396px -60px;
    }
    
    .ed{
        width: 100%;
        padding-left: 2px;
        display: inline-flex;
        position: relative;
        bottom: 10px;
        border-bottom: 3px solid rgb(252, 78, 78);
    }
    
    .ed>h4{
        color: rgb(63, 63, 63);
    }
    
    .ed>p{
        position: relative;
        left: 3px;
        top: 5px;
    }
    
    img:hover{
        transition: 1s;
        transform: scale(1.02);
    }
    
    img{
        transition: 1s;
        width: 100%;
        border-radius: 5px;
    }
    
    h1{
        font-size: 155%;
        color: rgb(63, 63, 63);
    }
    
    h1+p{
        text-transform: uppercase;
        font-size: 90%;
    }
    
    p{
        width: 100%;
    }
    
    header>p{
        color: rgb(124, 124, 124);
    }
    
    [type="button"]:hover{
        transition: 1s;
        transform: 1s;
        font-family: serif;
        min-width: 100px;
        max-width: 90px;
        height: 30px;
        background-color: rgb(252, 78, 78);
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-size: 60%;
        transition: 1s;
    }
    
    [type="button"]{
        transition: 1s;
        font-family: serif;
        min-width: 100px;
        max-width: 90px;
        height: 30px;
        background-color: white;
        border: 2px solid rgb(252, 78, 78);
        border-radius: 5px;
        color: rgb(252, 78, 78);
        text-transform: uppercase;
        font-size: 60%;
    }
    
    main>h2, footer>h2{
        padding-top: 30px;
        border-bottom: 2px solid rgb(252, 78, 78);
        padding-bottom: 10px;
        width: 50%;
        font-size: 20px;
    }
    
    main>p{
        margin-bottom: 30px;
    }
    
    .sprite2{
        background-image: url("../responsive_site/serviceSprite.PNG");
        width: 109px;
        height: 112px;
        transform: scale(0.7);
        padding-bottom: 5px;
    }
    
    .dd{
        background-position: 0 0;
    }
    
    .ai{
        background-position: 0 -150px;
    }
    
    .ro{
        background-position: 0 -290px;
    }
    
    .gr{
        background-position: 0 115px;
    }
    
    footer>div{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    
    .clearfix{
        border-bottom: none;
    }

    .last{
        border-bottom: white;
        padding-bottom: 0px
    }
