@media screen and (min-width: 425px){
   
    .menue{
        color: palevioletred;
        background-color: white;
        padding-top: 20px;
        transform: scale(1.5);
        position: relative;
        right: 50px;
    }

    header, main, footer{
        margin-left: 40px;
    }
    
    .socialMedia{
        position: relative;
        top: 60px;
    }

    header>div>img{
        width: 300px;
        height: 500px;
        object-fit: cover;
        float: right;
    }
    
    .hi{
        float: left;
        width: 40%;
    }

    .hi>h1{
        width: 80%;
        font-size: 42px;
    }

    .clearfix{
        clear: both;
    }

    main>h2, footer>h2{
        width: 22%;
    }
    main>p, main>h3{
        float: right;
        width: 70%;
        position: relative;
        bottom: 160px;
    }

    .dd{
        margin-top: 55px;
    }

    .ai, .ro, .gr{
        margin-top: 40px;
    }

    .first{
        float: left;
        border-right: 1px solid rgb(230, 230, 230);
        width: 44%;
        padding-right: 30px;
        border-bottom: 2px solid rgb(230, 230, 230);
        z-index: 1;
        position: relative;
        left: 7px;
    }

    .second{
        float: right;
        width: 44%;
        border-left: 1px solid rgb(230, 230, 230);
        padding-left: 35px;
        border-bottom: 2px solid rgb(230, 230, 230);
        z-index: -2;
        position: relative;
        right: 7px;
    }

    .last, .a{
        border-bottom: none;
    }

    .last{
        height: 390px;
    }

    
}